{% load static %}
<!-- header image -->

<div class="container">
    <!--
    <img class="img-fluid border-bottom border-top border-primary" src="{% static 'goldprice/images/header.png' %}" alt="">
    -->
</div>
<!--end header image -->
    <!-- intro -->
<div class="gradient-examples">
<div class="container border rounded border-primary example linear" id="intro">
    <div class="border rounded border-primary text-right mt-3 mb-3 p-3">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2 style="text-shadow: 2px 1px 2px #ff8a00"> 
                    <img class="img-fluid" src="{% static 'goldprice/images/gold-icon.png'%}" width="32" alt="">
                    نظرة على اسعار الذهب اليوم في ألمانيا
                </h2>
                <div class="mt-3 mb-3" style="border-bottom: 2px solid #FFCC33;"></div>
                <p class="mb-3">
                    اسعار الذهب اليوم ..اسعار الذهب اليوم هي خدمة مجانية تحرص منصتنا على تقديمها للزائرين ليكونوا مطلعين باستمرار ولحظيا على سعر الذهب اليوم في ألمانيا .. 
                    اسعار الذهب اليوم ..اسعار الذهب اليوم هي خدمة مجانية تحرص منصتنا على تقديمها للزائرين ليكونوا مطلعين باستمرار ولحظيا على سعر الذهب اليوم في ألمانيا ..
                    
                </p>
                <h5>
                    <a class="text-white" href="" style="font-size: 12px;" title="الصفحة الرئيسية لموقع الذهب اليوم">{{title}} » 
                        أخر تحديث لاسعار الذهب والفضة اليوم : <span style="color: black;font-weight: bold;">{{date}}</span></a>
                </h5>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <img class="img-responsive rounded" id="logo-ban" src="{% static 'goldprice/images/germany_flag.jpeg'%}" alt="">
            </div>
        </div>
        
    </div>
</div>
</div>
<!-- end intro -->

