APScheduler
deep-translator
requests
bs4
pandas
plotly
Pillow
django
Djangojango-ckeditor
django-cleanup
django-js-asset
django-taggit
django-crispy-forms
gunicorn
whitenoise
django-filterdjango-import-export
django-adminlte3
django-bootstrap-v51

